name: Automated CD (Run on Push with Tag))

# Trigger on any push with a git tag
# To create a git tag, run the following commands on the branch you wish to release:
#   git tag 1.0.0.0
#   git push origin --tags
on:
  #push:
  #  tags:
  #    - '*'
  #for testing only
  workflow_dispatch:
      inputs:
        version_suffix:
          description: 'Test version suffix (e.g., -beta-test)'
          required: true
          default: '-test-run'
        
jobs:

  create-release:
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
      version_tag: ${{ steps.get_version.outputs.VERSION }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup GitVersion
        uses: gittools/actions/gitversion/setup@v3
      - name: Run GitVersion
        uses: gittools/actions/gitversion/execute@v3
        id: gitversion
      - name: Get Version
        id: get_version
        run: echo "VERSION=${{ steps.gitversion.outputs.majorMinorPatch }}" >> $GITHUB_OUTPUT
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          #tag_name: ${{ github.ref_name )}}
          #release_name: Release ${{ steps.get_version.outputs.VERSION }}
          tag_name: v${{ steps.get_version.outputs.VERSION }}${{ github.event.inputs.version_suffix }} # Uses the manual input
          release_name: Test Release v${{ steps.get_version.outputs.VERSION }}${{ github.event.inputs.version_suffix }}
          draft: false
          prerelease: false
          
  build-and-publish:
    needs: create-release
    strategy:
      fail-fast: false
      matrix:            
        include:
          # Windows x64
          - os: windows-latest
            targetPlatform: x64
            rid: win-x64
            channel: Release
            is_windows: true
          # macOS Silicon
          - os: macos-latest
            targetPlatform: arm64
            rid: osx-arm64
            channel: Release
            is_windows: false
          
    uses: ./.github/workflows/cd_common.yml
    with:
      upload_url: ${{ needs.create-release.outputs.upload_url }}
      version: ${{ needs.create-release.outputs.version_tag }}
      os: ${{ matrix.os }}
      rid: ${{ matrix.rid }}
      is_windows: ${{ matrix.is_windows }}
      channel: ${{ matrix.channel }}
      targetPlatform: ${{ matrix.targetPlatform }}
    secrets:
      Base64_Encoded_Pfx: ${{ secrets.Base64_Encoded_Pfx }}
      Pfx_Key: ${{ secrets.Pfx_Key }}
